#    Copyright (C) 2022 7thCore
#    This file is part of HlnSrv-Script.
#
#    HlnSrv-Script is free software: you can redistribute it and/or modify
#    it under the terms of the GNU General Public License as published by
#    the Free Software Foundation, either version 3 of the License, or
#    (at your option) any later version.
#
#    HlnSrv-Script is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU General Public License for more details.
#
#    You should have received a copy of the GNU General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.

[Unit]
Description=HlnSrv Server Service
After=network.target
Conflicts=hlnsrv-tmpfs.service
StartLimitBurst=3
StartLimitIntervalSec=300
StartLimitAction=none
OnFailure=hlnsrv-send-notification.service

[Service]
Type=forking
KillMode=none
WorkingDirectory=/srv/hlnsrv/server/drive_c/Games/Hellion
ExecStartPre=/usr/bin/hlnsrv-script pre-start
ExecStartPre=/usr/bin/hlnsrv-script server_tmux_install
ExecStart=/usr/bin/tmux -f /tmp/%u-tmux.conf -L %u-tmux.sock new-session -d -s HlnSrv 'env WINEARCH=win64 WINEDEBUG=warn+heap WINEPREFIX=/srv/hlnsrv/server wine /srv/hlnsrv/server/drive_c/Games/Hellion/HELLION_Dedicated.exe  2> /srv/hlnsrv/logs/hlnsrv-wine.log'
ExecStartPost=/usr/bin/hlnsrv-script post-start
ExecStop=/usr/bin/hlnsrv-script pre-stop
ExecStop=/usr/bin/tmux -f /tmp/%u-tmux.conf -L %u-tmux.sock new-session -d -s HlnSrv-stop env WINEARCH=win64 WINEDEBUG=warn+heap WINEPREFIX=/srv/hlnsrv/server wine /srv/hlnsrv/server/drive_c/Games/Hellion/HELLION_Dedicated.exe -shutdown
ExecStopPost=/usr/bin/hlnsrv-script post-stop
TimeoutStartSec=infinity
TimeoutStopSec=120
RestartSec=10
Restart=on-failure

[Install]
WantedBy=default.target
